.bgColorFire1 {
    background-color: #FB6C6C;

}

.bgColorFire2 {
    background-color: #F88D8D;
}

.bgColorGrass1 {
    background-color: #46D1B1;
}

.bgColorGrass2 {
    background-color: #61E2CB;
}

.bgColorWater1 {
    background-color: #77BEFE;
}

.bgColorWater2 {
    background-color: #90D2FE;
}

.bgColorBug1 {}

.bgColorBug2 {}

.bgColorNormal1 {}

.bgColorNormal2 {}

.bgColorPoison1 {}

.bgColorPoison2 {}

.bgColorElectric1 {
    background-color: #FFD970;
}

.bgColorElectric2 {
    background-color: #FFE681;
}

.bgColorGround1 {}

.bgColorGround2 {}

.bgColorPsychic1 {}

.bgColorPsychic2 {}

.bgColorFairy1 {}

.bgColorFairy2 {}

.bgColorfighting1 {}

.bgColorfighting2 {}